<!DOCTYPE html>
<html>
<head>
    <title>CKD Prediction</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <h2>CKD Prediction System</h2>

    <form action="/predict" method="post">
        <input type="number" step="any" name="sc" placeholder="Serum Creatinine" required>
        <input type="number" step="any" name="pot" placeholder="Potassium" required>
        <input type="number" name="dm" placeholder="Diabetes (0/1)" required>
        <input type="number" name="cad" placeholder="CAD (0/1)" required>
        <input type="number" step="any" name="bu" placeholder="Blood Urea" required>
        <input type="number" step="any" name="sod" placeholder="Sodium" required>
        <input type="number" name="pe" placeholder="Pedal Edema (0/1)" required>
        <input type="number" name="appet" placeholder="Appetite (0=Good,1=Poor)" required>

        <button type="submit">Predict</button>
    </form>

    <h3>{{ prediction_text }}</h3>
</div>

</body>
</html>